{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center text-white bg-dark">About Me</h1>
    <h3 class="text-center text-white bg-dark">Summary</h3>
    <p class="text-white bg-dark">
        Engineering graduate (BSc) with experience in the oil and gas industry as an engineering intern and as a relief
        operator. Currently enrolled in Master of Software Engineering program with programming knowledge in Python and
        Java. Demonstrates leadership, organization, good teamwork skills, persistence, and accountability through work
        experience and extracurricular activities.
    </p>

    <h3 class="text-center text-white bg-dark">Work Experience</h3>
    <h4 class="text-white bg-dark">
        Intern, Facilities Engineering
    </h4>
    <h6 class="text-white bg-dark">ATCO Gas Transmission (Edmonton) May 2017-August 2018</h6>
    <p class="text-white bg-dark">
        - Designed meter station installations, upgrades and removals within ATCO’s natural gas transmission system in
        Alberta.
    </p>
    <p class="text-white bg-dark">
        - Worked on several projects simultaneously from project conception to completion.
    </p>
    <p class="text-white bg-dark">
        - Worked with third-party contractors, field operations, drafting and construction crews on projects.
    </p>
    <p class="text-white bg-dark">
        - Designed meter station layouts, prepared drawings and job procedures and calculated equipment sizing for
        pressure control and pipeline.
    </p>
    <p class="text-white bg-dark">
        - Selected material for piping and station equipment installation.
    </p>
    <p class="text-white bg-dark">
        Some of my major projects include:
    </p>
    <p class="text-white bg-dark">
        - Designed a brand-new meter station to replace an old meter station with an estimated budget of $350k.
    </p>
    <p class="text-white bg-dark">
        - Removed a meter station from project conception to land reclamation on budget ($200K) and on time.
    </p>
    <p class="text-white bg-dark">
        - Completed a tight deadline project (1 week) to check and ensure the accuracy of a job procedure for a $1
        million project.
    </p>

    <h4 class="text-white bg-dark">
        Summer Student, Relief Operator
    </h4>
    <h6 class="text-white bg-dark"> Canadian Natural Resources Limited (Lloydminster) May 2016-August 2016</h6>
    <p class="text-white bg-dark">
         - Operated 34 heavy oil wells in Marshall and Lone Rock oil fields within Lloydminster district.
    </p>
    <p class="text-white bg-dark">
          - Performed normal maintenance and production data entry.
    </p>
    <p class="text-white bg-dark">
           - Optimized heavy oil wells which included shooting fluid level and adjusting pump speeds.
    </p>
    <p class="text-white bg-dark">
        - Organized various well services and rig work when wells were down.
    </p>

    <h4 class="text-white bg-dark">
         Leader
    </h4>
    <h6 class="text-white bg-dark">  Mini University Summer Camps (University of Calgary) July 2015-August 2015</h6>
    <p class="text-white bg-dark">
         - Operated 34 heavy oil wells in Marshall and Lone Rock oil fields within Lloydminster district.
    </p>
    <p class="text-white bg-dark">
        - Supervised young attendees, prepared new activities and assisted camp instructors in teaching new skills.
    </p>

    <h3 class="text-center text-white bg-dark">Computer Skills</h3>
    <p class="text-white bg-dark">
        Microsoft Office (Word, Excel, PowerPoint), Java, C++, Python, Git, HTML, CSS, JavaScript.
    </p>

{% endblock %}