{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/info.css' %}">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 class="text-center text-white bg-dark">About Me</h1>
    <h4 class="text-center text-white bg-dark">Summary</h4>
    <p class="text-white bg-dark">
        I'm a recent Chemical Engineering graduate with a minor in Petroleum Engineering, currently enrolled in Master
        of Software Engineering program at the University of Calgary and will be graduating in August 2020. I've always
        been fascinated with new and upcoming technology and am currently looking to transition into the tech industry.
        <br>
        <br>
        I have work experience as an engineer and as an operator in the oil and gas industry. Leveraging my leadership,
        project management, and teamwork skills that I had learnt from previous work experience, I have applied them to
        my studies as well as serve as an asset to any potential employers.
    </p>
    <div class="row text-center">
        <div class="col">
            <h4 class="text-center text-white bg-dark">
                Frontend Programming Skills
            </h4>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <div class="card text-white bg-dark mb-3  border-dark mb-3 mx-auto" style="width: 10rem;">
                <img class="card-img-top" src="{% static 'images/html_logo.png' %}"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">HTML</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3  border-dark mb-3 mx-auto" style="width: 10rem;">
                <img class="card-img-top" src="{% static 'images/css_logo.png' %}"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">CSS</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3  border-dark mb-3 mx-auto" style="width: 10rem;">
                <img class="card-img-top" src="{% static 'images/js_logo.png' %}"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">JavaScript</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3  border-dark mb-3 mx-auto" style="width: 10rem;">
                <img class="card-img-top" src="{% static 'images/bootstrap_logo.png' %}"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Bootstrap</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <h4 class="text-center text-white bg-dark">
                Backend Programming Skills
            </h4>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <div class="card text-white bg-dark mb-3  border-dark mb-3 mx-auto" style="width: 10rem;">
                <img class="card-img-top" src="{% static 'images/python_logo.png' %}"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Python</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3  border-dark mb-3 mx-auto" style="width: 10rem;">
                <img class="card-img-top" src="{% static 'images/java_logo.png' %}"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Java</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3  border-dark mb-3 mx-auto" style="width: 10rem;">
                <img class="card-img-top" src="{% static 'images/c_plus_plus_logo.png' %}"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">C++</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3  border-dark mb-3 mx-auto" style="width: 10rem;">
                <img class="card-img-top" src="{% static 'images/postgresql_logo.png' %}"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">PostgreSQL</h5>
                </div>
            </div>
        </div>
    </div>

{% endblock %}