{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center text-white bg-dark">My Projects</h1>
    <p class="text-white bg-dark">In addition to my projects in my work as an engineer in the energy
        sector, I had also developed various software personal projects I have created. Clicking on the link will open a
        new window
        to the project's respective GitHub Repo.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="#link" class="btn btn-primary btn-lg" role="button">Tic-Tac-Toe with AI players</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                 <a href="#link" class="btn btn-primary btn-lg" role="button">Airline Reservation App</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                 <a href="#link" class="btn btn-primary btn-lg" role="button">Retail Shop Management App</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                 <a href="#link" class="btn btn-primary btn-lg" role="button">Tensorflow Real Time Object Detection Program</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                 <a href="#link" class="btn btn-primary btn-lg" role="button">Event-Driven Mobile Game Bot with GUI</a>
            </div>
        </div>

        <p class="text-white bg-dark"> This website was built using HTML, CSS, and JavaScript using the Bootstrap
            framework.</p>

        <div class="row" style="height: 1200px">
        </div>

{% endblock %}