{% extends 'base.html' %}

{% block content %}
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/info.css' %}">

    <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/projects">Projects<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    <h1 class="text-center text-white bg-dark">My Projects</h1>
    <p class="text-white bg-dark">In addition to my projects in my work as an engineer in the energy
        sector, I had also developed various software personal projects I have created. Clicking on the link will open a
        new window
        to the project's respective GitHub Repository.</p>
{#    <div class="container">#}
        <div class="row">
            <div class="col">
                <a href="https://github.com/MichaelMauriceLee/Tic-Tac-Toe" target="_blank" class="btn btn-primary btn-lg" role="button">Tic-Tac-Toe
                    with AI players</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://github.com/MichaelMauriceLee/Airline-Reservation-App" target="_blank" class="btn btn-primary btn-lg"
                   role="button">Airline Reservation App</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://github.com/MichaelMauriceLee/Inventory-Management-App" target="_blank" class="btn btn-primary btn-lg"
                   role="button">Retail Shop Inventory Management App</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://github.com/MichaelMauriceLee/Student-Registration-App" target="_blank" class="btn btn-primary btn-lg"
                   role="button">Student Registration App</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://github.com/MichaelMauriceLee/FF14-Race-Identifer" target="_blank" class="btn btn-primary btn-lg"
                   role="button">Tensorflow Real Time Object Detection
                    Program</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://github.com/MichaelMauriceLee/Shiny-Colors-Bot-1920-x-1080" target="_blank"
                   class="btn btn-primary btn-lg" role="button">Event-Driven Mobile Game Bot with GUI</a>
            </div>
        </div>

        <p class="text-white bg-dark"> This website's source code</p>
        <div class="row">
            <div class="col">
                <a href=https://github.com/MichaelMauriceLee/Michael_Lee_Digital_Website target="_blank"
                   class="btn btn-primary btn-lg" role="button">View Code</a>
            </div>
        </div>
{#    </div>#}

{% endblock %}