{% extends 'base.html' %}
{% block content %}
    <body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/calculator.css' %}">
    <script src="{% static 'js/calculator.js' %}" defer></script>

    <h3 class="text-center text-white bg-dark">Calculator</h3>

    <div class="row">
        <div class="col">
            <a href='/projects' class="btn btn-primary float-right" role="button">Go back</a>
        </div>
        <div class="col">
            <a href='/projects' class="btn btn-primary float-left" role="button">View Code</a>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col top-buffer">
            <div class="calculator-grid">
                <div class="output">
                    <div data-previous-operand class="previous-operand"></div>
                    <div data-current-operand class="current-operand"></div>
                </div>
                <button data-all-clear class="span-two">AC</button>
                <button data-delete>DEL</button>
                <button data-operation>÷</button>
                <button data-number>1</button>
                <button data-number>2</button>
                <button data-number>3</button>
                <button data-operation>*</button>
                <button data-number>4</button>
                <button data-number>5</button>
                <button data-number>6</button>
                <button data-operation>+</button>
                <button data-number>7</button>
                <button data-number>8</button>
                <button data-number>9</button>
                <button data-operation>-</button>
                <button data-number>.</button>
                <button data-number>0</button>
                <button data-equals class="span-two">=</button>
            </div>
        </div>
    </div>
    <div class="history">
        <a onclick="myFunction()" class="btn btn-primary span-four">Show History</a>
        <div data-history-output class="history-output"></div>
    </div>
    </body>
{% endblock %}

