.carousel {
    width: 100%;
}

.carousel img {
    width: 100%;
}

body {
    min-height: 100vh;
    overflow: auto;
}

html {
    min-height: 100%;
}

.container {
    min-height: calc(100vh - 56px);
    overflow: auto
}

/*.card {*/
/*    min-height: 500px;*/
/*}*/

.top-buffer { margin-top:20px; }

/*.card-img-top {*/
/*    max-height: 500px;*/
/*    min-height: 300px;*/
/*    object-fit: cover;*/
/*}*/